/* src/App.css */

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  background-color: #ffffff;
  color: #111;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

.app-title {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.form-field {
  margin: 0.5rem 0;
}

/*
.form-field input {
  width: 250px;
  padding: 0.5rem;
  font-size: 1rem;
}*/

.form-field input {
  width: 100%;
  max-width: 260px;
  padding: 0.5rem;
  font-size: 1rem;
}

.form-field button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
}
