html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #ffffff;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-title {
  color: rgb(0, 58, 17);
  margin-bottom: 1rem;
}

/* src/index.css - elimina ancho fijo global */
.form-field input {
  /* no forzamos width global aquí */
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%; /* si quieres inputs full-width dentro de .form-field */
  max-width: 360px; /* límite razonable en otras pantallas */
}

.form-field:last-child button {
  width: 100%;
  padding: 0.5rem;
  background: #064e3b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-field:last-child button:hover {
  background: #04352a;
}
